.btn {
  border: none;
  padding: 0 30px;
  height: 55px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
  transition: .5s;
  
  &:hover {
    opacity: .9;
  }
  
  &__red {
    background: #d52349;
  }
  &__black {
    background: #353132;
  }
}