.btn {
  border: none;
  // height: 40px;
  color: #fff;
  padding: 20px 40px;
  margin: 10px;
  // text-shadow: 0 0 1px #aaa;
  cursor: pointer;
  transition: .5s;
  font-size: 1rem;
  border-radius:5px;
  
  &:hover {
    opacity: .9;
  }

  &__red {
    background: #d52349;
  }
  
  &__black {
    background: #353132;
  }
}