.main-header{
  text-align: center;
  margin:40px 0;
}

.menu li{
  display:inline-block;
  padding: 30px 14px;
}

.menu a{
font-weight:100;
font-style: italic;
font-size: 14px;
padding:10px 15px;
background: #d52349;
color: white;
border-radius: 5px;
}





h1{
  color:black;
  font-weight:bolder;
 }
.banner {
  text-align: center;
  background:url('./img/pic01.jpg');
}
.banner-item{
  display: inline-block;
  margin: 120px;
  padding:50px 80px;
  background:black;
  line-height: 5px;
  border-radius: 7px;
}
  h2{
    color:white;
    margin-bottom: 10px;
    font-size: 35px;
  }

.banner p{
  text-align: center;
  color:#d52349;
 margin-top: 50px;
  font-size:20px;
  }
  



