.main-header{
  text-align: center;
  margin: 68px 0;
  line-height: 18px;
}
.active {
  background: #d52349;
  color:white;
 }
.main-nav {
  
  ul {
    display: inline-block;
  }
  
  &__nav-item {
    display: block;
    float: left;
    padding: 30px 13px;
    
    a {
      font-weight: 300 ;
      font-style: italic;
      font-size: 1.1rem;
      padding: 10px 15px;
      color: #5d5d5d;
      border-radius: 5px;
      
      &:hover{
        background: #d52349;
        color: white;
      }
    }
  }
}
.caption1 {
  color: black;
  font-weight: 900;
  font-size: 2.7rem;
  letter-spacing: -1.5px;

}
.banner {
  text-align: center;
  background: url('../../img/pic01.jpg');
}
.banner-item{
  display: inline-block;
  margin: 120px;
  padding: 50px 85px;
  background: black;
  line-height: 5px;
  border-radius: 6px;
}
.caption2 {
  color: white;
  margin-bottom: 10px;
  font-size: 2.5rem;
}
.banner-text {
  color: #d52349;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 300 ;
}
