.main-header{
  text-align: center;
  margin: 40px 0;
}

.active {
  background: #d52349;
  color:white;
 }


.main-nav {
  
  text-align: center;
  
  ul {
    display: inline-block;
  }
  
  &__nav-item {
    display: block;
    float: left;
    padding: 30px 14px;
    
    a {
      font-family:'	Source Sans Pro',sans-serif;
      font-weight: 100;
      font-style: italic;
      font-size: 14px;
      padding: 10px 15px;
      color: #5d5d5d;
      border-radius: 5px;
      
    &:hover{
      background: #d52349;
      color: white;
     }
      
    }
    
  }
}
  

.caption1 {
  color: black;
  font-weight: bolder;
  font-family:'	Source Sans Pro',sans-serif
 }
.banner {
  text-align: center;
  background: url('../img/pic01.jpg');
}
.banner-item{
  display: inline-block;
  margin: 120px;
  padding: 50px 85px;
  background: black;
  line-height: 5px;
  border-radius: 7px;
}
.caption2 {
  font-family:'	Source Sans Pro',sans-serif;
  color:white;
  margin-bottom: 10px;
  font-size: 35px;
}

.banner-text {
  text-align: center;
  color:#d52349;
  margin-top: 50px;
  font-family:'	Source Sans Pro',sans-serif;
  font-size:22px;
  font-weight: normal;
}
  


