.main-footer {
  background: #252122;
  padding: 45px;
  
  &__caption {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    margin: 2.5rem 0;
  }
}
.date {
  border-bottom: 1px solid #444;
  padding: 25px 0;

  &:last-child {
    border: none;
  }
}
.number {
  background: #D52349;
  display: inline-block;
  padding: 4px 12px 8px 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
  text-align: center;
  
  &__month {
    display: block;
    font-weight: 100;
    font-size: 1.1rem;
  }
  &__day {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
  }
}

.triangle-right {
  position: relative;
}
.triangle-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-left: 20px solid #D52349;
  border-bottom: 32px solid transparent;
  position: absolute;
  top: 0px;
  right: -20px;
  float: right;
}
.info {
  
  &__caption {
    color: #fff;
    margin-top: .5rem;
  }
  &__message {
    color: #666;
  }

}
.thumbnail {
  
  @media ( max-width: 980px ) {
    text-align: center;
  }
  
  &__text {
    line-height: 1.7;
    margin: 2rem 0;
  }
  
}
.copyright {
  
  text-align: center;
  padding: 65px;
  
  &-wrap {
    display: inline-block;
    padding: 18px 30px;
    background: #302C2D;
    border-radius: 4px;
    color: #888;
  }
  
  &__item {
    padding: 5px 15px;
    border-right: 1px solid #444;
    
    &:last-child {
      border: none; 
    }
  }
}

.contacts{
    &__social > a {
        padding: 0 10px;
        transition: color .4s ease-in-out;
        &:hover {
            color: #d52349;
        }
    }
}