.main-footer {
  background: #252122;
  
  &__caption {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
  }
}

.number {
  background: #D52349;
  display: inline-block;
  padding: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
  
  &__month {
    display: block;
    font-weight: 100;
  }
  &__day {
    display: block;
    font-size: 1.5rem;
  }
}

.triangle-right {
  position: relative;
}
.triangle-right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-left: 25px solid #D52349;
  border-bottom: 35px solid transparent;
  position: absolute;
  top: -4px;
  right: -20px;
  float: right;
}

.info {
  
  &__caption {
    color: #fff;
  }
  &__message {
    color: #aaa; 
  }
  
}