.portfolio {
    border-top: 1px solid #ccc;
    background: #f7f7f7;
    &__border {
        margin-top: 4em;
        border-top: 1px solid #ccc;
    }
    &__caption {
        color: #252122;
        &--main {
            margin: auto;
            background-color: #f7f7f7;
            width: 200px;
            color: #252122;
            text-align: center;
            position: relative;
            top: -.9em;
            letter-spacing: -.5;
        }
    }
    &__text {
        font-weight:300;
        color: #5e5e5e;
        line-height: 1.65;
    }
    &__item {
        padding: 30px 20px;
        &__content {
            background: white;
            border-bottom: 1px solid #ccc;
            padding: 20px 0;
            & > * {
                margin: 20px;
            }
        }
    }
}