.portfolio {
    background: #f7f7f7;
    &__item {
        padding: 30px 20px;
        &__content {
            border-bottom: 1px solid #000;
            & > * {
                margin: 20px 10px;
            }
//            .btn {
//                display: inline-block;
//                padding: 30px 40px;
//                font-weight: bold;
//            }
        }
    }
}

