body {
  background: #f7f7f7;
  font: 16px/1.5 'Source Sans Pro', sans-serif;
  color: #aaa;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3 {
  font-weight: bold;
  margin: .85rem 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin: .8rem 0;
}
h3 {
  font-weight: bold;
  margin: .75rem 0;
}
li {
  list-style: none; 
}